h1 {
    font-size: large;
    display: flex;
    justify-content: center;
}

.my_image_container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25;
}

.my_image {
    width: 150px;
    height: 150px;

    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

root {
    margin-top: 0;
    margin-bottom: 0;
}

.para-tag {}