:root {
    --h1-color: #B0A2C7;
    --body-color: #806E9D;
}



.welcome-text {
    animation: fade-in 2s ease-in-out;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    display: flex;
    width: 50%;
    font-size: small;
    font-family: "Roboto", sans-serif;
    color: #333;
    text-align: left;
    font-weight: bold;
    margin: 0;
    /* Remove any default margin */
    padding: 1.25;

}

.div-h1 {
    background-color: var(--body-color);
    height: 25vh;


}

.my_image_container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100;
    background-color: var(--body-color);

}

.my_image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}



.para-tag {
    display: flex;
    align-items: center;
    /* Vertical centering */
    justify-content: center;
    /* Horizontal centering */
    height: 25vh;







    background-color: var(--body-color);
}

.tech-list {}

.para-tag li {
    list-style: none;
    padding-right: 0.3125rem;
    padding-left: 0.3125rem;
}